ul {
	border: 1px solid red;
	width: 400px;
	margin-left: 620px;
	margin-top: 10px;
}

li {
	border: 1px solid green;
}

/*.bigList {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	width: 500px;
	list-style-type: none;
}

#newList {
	display: flex;
	justify-content: center;
	background-color: silver;
}

li {
	border: 1px solid rgb(234, 124, 112);
	width: 400px;
	margin-bottom: 5px;
	padding-left: 5px;
	height: 35px;
	display: flex;
	align-items: center;
	border-radius: 25px;
}

li:hover {
	background-color: rgb(248, 192, 188);
}

.checkContainer {
	display: flex;
	align-items: center;
}*/