input {
	width:400px;
	height: 35px;
	padding-left: 10px;
	outline: none;
}

button {
	outline: none;
}

.todo {
	display: flex;
	width: 75%;
	margin: auto;
}

.todo button {
	background-color: inherit;
	border: none;
	font-size: 25px;
}

.todo button:hover {
	color: red;
	cursor: pointer;
}
