header {
  display: flex;
  justify-content: center;
  /*background-color: silver;*/
  font-size: 25px;
  font-family: monospace;
  color:rgb(234, 124, 112);
  padding-left: 775px;
  height: 75px;
  padding-top: 15px;
}

.name {
	display: flex;
	flex-direction: column;
	align-items: center;
}

ul {
	list-style-type: none; 
}

.header {
	margin-left: 780px;
	color: pink;
}


